* {
  box-sizing: border-box;
}

.back-image {
  background-image: url(https://s.zst.com.br/cms-assets/2021/03/melhor-toca-discos-vitrola-9-.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(80, 128, 167);
  background-blend-mode: multiply;
  background-position: center center;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
  align-items: center;
  justify-items: center;
}

h4 {
  font-family: arial;
  font-style: italic;
  color: darkblue;
}

hr {
  border: none;
  border-top: 10px dashed #06023d;
  margin: 10px 0;
}

article {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column: 1 / span 3;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.member {
  line-height: 0;
  font-family: arial;
  font-size: large;
  font-weight: bold;
}

.main-title {
  font: size 32px;
  font-family: cursive;
  text-align: center;
  color: black;
}

#albumDetails {
  grid-row-start: 1;
  grid-column-start: 1;
  align-items: center;
  justify-items: center;
}

.album-art {
  width: 100%;
  height: auto;
  grid-row-start: 1;
  grid-column-start: 1;
}

#descPW {
  margin-left: 40px;
  grid-row-start: 1;
  grid-column-start: 2;
}

#descPW,
#band h2 {
  margin-top: 0;
  font-family: cursive;
}

#descPW ol,
#band ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#descPW li {
  margin-bottom: 5px;
  font-family: cursive;
  font-style: italic;
  font-size: medium;
}

#band li {
  margin-bottom: 5px;
  font-family: cursive;
  font-style: italic;
  font-size: medium;
  line-height: 1.2;
}

#band {
  margin-right: 200px;
  grid-row-start: 1;
  grid-column-start: 3;
}

#description {
  font-family: arial;
  font-size: large;
  font-weight: bold;
}

.comments {
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-column: 1 / span 3;
  line-height: 0.5;
}

#article-title {
  text-align: center;
  font-family: cursive;
}

.text-comment {
  font-family: cursive;
  font-style: italic;
  font-size: large;
  line-height: 1;
}

.signature {
  font-family: arial;
  font-weight: bold;
  text-align: left;
  line-height: 3;
  font-style: italic;
}

.email {
  font-family: arial;
  font-size: medium;
  color: crimson;
}

#back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.button-home {
  width: 50px;
  height: 50px;
}

/*Responsividade das páginas de cada Post*/

@media screen and (max-width: 768px) {
  main {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  article {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .back-image {
    width: 100%;
    height: 100%;
  }

  #band {
    text-align: center;
    margin-right: inherit;
  }

  #albumDetails {
    width: 100%;
    height: 100%;
  }

  #article-title {
    margin-top: 30px;
  }

  .member {
    font-size: medium;
  }

  .main-title {
    font-size: 28px;
  }

  .text-comment {
    font-size: medium;
  }

  .signature {
    font-size: medium;
    line-height: 2;
  }

  .email {
    font-size: small;
  }

  #back {
    margin-top: 30px;
  }

  .button-home {
    width: 30px;
    height: 30px;
  }
}
